{% extends 'layout.html'%}
{% block head %}
	<title>BOOK</title>
	<meta id="option" data-name="{{ opt }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/book.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->

<link href="static/style.css" rel="stylesheet">
<!--===============================================================================================-->
{% endblock %}
{% block container %}
<li class = "nav-item">
	<a class="nav-link" id = 'so' onclick = "signout()" href= "#" style = "color:white">Log Out</a>
</li>
{% endblock %}
{% block body %}
<h5 style="padding: 1em;" class = "op1">Please wear your helmet and take care of the vehicle like it's your own</h5>
<div style = "padding-top: 4em; padding-bottom: 12em; padding-left: 2em; padding-right: 2em;">	
	<form action='/book' method="POST" style = "display:inline;">
		<div>
			<div class = 'container'>
				<div class = "row">
					  <div id = "dest" class = "row col-lg-8 col-xl-8 op2 op3 op4">
						<div class = " dropdown col-lg-6 col-xl-6">
							<label for = "from">Select From location</label><br>
							<button type = "button" id = "from" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								Available locations
							</button>
							<input style = "display: none" type = "text" name = "from" id="ffrom" placeholder="ding dong" value="vdsdf">
							<div class = "dropdown-menu">
								
								{% for l in locations %}
									<option class = "dropdown-item" onclick = "change_From('{{ l[0] }}')"  value="{{ l[0] }}">{{ l[0] }}</option>
								{% endfor %}
								
							</div>
						</div>

						<div class = "dropdown col-lg-6 col-xl-6">
							<label for = "to">Select Destination</label><br>
							<button type = "button" id = "to" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								Destination
							</button>
							<input style = "display:none" type = "text" name = "to" id = "tto" placeholder="ding dong" value="vdsdf">
							<div class = "dropdown-menu">
								
								{% for l in loc %}
									<option class = "dropdown-item" onclick = "alter_Dest('{{ l[0] }}')" value="{{ l[0] }}">{{ l[0] }}</option>
								{% endfor %}
								
							</div>
						</div>
						<div class = "col-xl-3 col-lg-3" style = "padding-left: 37px;">
							<br><br><br><br><br>
							<input type="submit" class = "btn btn-outline-primary" name ="btn" value="book ride">
						</div>
					  </div>
					  <div class = "col-lg-8 col-xl-8 op1" style = "color: cadetblue; font-family:monospace, Courier, monospace; font-size: 1.5em; ">
						<h3 class = "op1" id = "info">From {{ from_loc }} to {{ to_loc }}</h3>
						
						<marquee width = 70% class = "op1 op2 op3" id = "marq"
						`scrollamount="10"`
						direction="right"
						behavior="scroll">
						<img src="static/img/bike.jpeg" />
						</marquee>
						
						<div class = "op1">Distance : {{ dist }} Km &ensp; Cost : {{ cost }} Rs </div>
						
						
						<div class = "op1 op2 op4" style = "color: rgb(255, 85, 85); font-family: helvetica;">An OTP has beeen sent to your mail. Kindly check </div>
						<h3 class = "op1 op2 op4">{{ mesg }}</h3>
						<div class = "op1 op2 op4" style = "color:rgba(105, 255, 85, 0.993); font-family:Georgia; font-size: 1.4em;">Enter the otp here:  <input width="4px" type = "text" name = "otp" placeholder = "Enter 4 digit OTP"></div>
						<br><br>
						<input class ="op1 op3 op4 btn btn-outline-primary op4" style = "font-family:Arial" id="foo" type="submit" name="btn" value="Confirm Booking">
						<input class ="op1 op2 op4 btn btn-outline-primary op4" type="submit" id="moo" name = "btn" value = "start ride">
						<input class ="op1 op2 op3 btn btn-outline-primary" type="submit" id="doo" name = "btn" value = "finish ride">
					  </div>
					  <div class = "balance col-lg-4 col-xl-4 op4" id = "cash" style = "border-radius: 25px; background:rgb(255, 85, 85); width:fit-content; height:fit-content;">
						<h3 id = "wallet" style = "font-size:1rem; color: antiquewhite;">Your remaining balance is: Rs {{ balance }}</h3>
						<button onclick="add_money()" type="button" class="btn btn-info btn-sm" id = "Add money">Add money</button><br>
						
						<input style = "display:none" class = "op1" type = "text" placeholder = "Enter amount" name = "amount" id = "amount"><br><br>
						<input style = "display:none" id = "add 1" type = "submit" class="btn btn-info btn-sm op2" name = "btn" value ="Add money">
						<input style = "display:none" id = "add 2" type = "submit" class="btn btn-info btn-sm op1" name = "btn" value ="Add money ">
					  </div>
				</div>
				<br><br><br>

				<br>
				
			
			</div>
		</div>
			
	</form>
</div>
<div class="container-fluid padding" id="about">
	<div class="row padding">
		<div class="col-lg-6" style = "color:aqua">
			<h1 class = "op1 op2 op4">Details : </h1>
			<h2 class = "op1 op2 op4">Vehicle Number : {{ vn }}</h4><br>
			<h2 class = "op1 op2 op4">Model: {{ model }}</h2><br>
			<br>
				 

		</div>
		<div class="op1 op2 op4 col-md-6">
			<img src="static/images/{{ vn }}.jpg" class="img-fluid" alt="{{model}}" >
		</div>
	</div>
</div>	
	



<script>

	window.onload = myfunc();
	function myfunc(){
		option("{{ opt }}");
		document.getElementById('so').style.display = "block";
	}

	function option(opt){
		if (opt == 1){
			func1();
		}
		
		else if(opt == 2){
			func2();
		}

		else if(opt == 3){
			func3();
		}
		else func4();
	}
	function func1(){
		var x = document.getElementsByClassName("op1");
   		for (var i = 0; i < x.length; i++){
       		x[i].style.display = "none";
		}
		
	}
	function func2(){
		var y = document.getElementsByClassName("op2");
		for (i = 0; i < y.length; i++){
			y[i].style.display = "none";
		}
		
		
		

	}
	function func3(){
		var x = document.getElementsByClassName("op3");
		for (var i = 0; i < x.length; i++){
			x[i].style.display = "none";
		}
	}
	function func4(){
		var x = document.getElementsByClassName("op4");
		for (var i = 0; i < x.length; i++){
			x[i].style.display = "none";
		}
		
		document.getElementById("info").innerHTML = "Ride in progrees, ride safely";
	}

	function change_From(l){
		document.getElementById("from").innerHTML = l;
		document.getElementById("ffrom").value = l;
	}
	function alter_Dest(l){
		document.getElementById("to").innerHTML = l;
		document.getElementById("tto").value = l;
	}
	function add_money(){
		document.getElementById("amount").style.display = "inline";
		if("{{ opt }}" == 1){
			document.getElementById("add 1").style.display = "inline";
		}
		else if("{{opt}}" == 2){
			document.getElementById("add 2").style.display = "inline";
		}
		document.getElementById("Add money").style.display = "none";

	}
</script>

{% endblock %}
