{% extends "layout.html" %}
{% block head %}
	<title>Dashboard</title>
	<meta id="option" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/book.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->

<link href="static/style.css" rel="stylesheet">
<!--===============================================================================================-->
{% endblock %}
{% block container %}

	
	
	<li class="nav-item">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<img src="static/images/{{username}}.jpg"  alt="Image" onerror=this.src="static/images/emptydp.png" height="30" width="30" class="profile-image img-circle"></t><b class="caret" style = "padding-left: 7px;">{{username}}</b></a>
			<ul class="dropdown-menu" style = "background-color:rgb(250, 232, 209); list-style: none;">                                                                                                                                                                                                          
				
				<li class="divider"></li>
				<li><a href="{{url_for('logout')}}">&ensp;<i class="fa fa-sign-out"></i> &nbsp;Sign-out</a></li>
			</ul>
		</li>
	</li>
{% endblock %}
{% block body %}
   
  
    <h1 class="page-header">Welcome, {{ username }}</h1>

    

    <h2 class="sub-header"align="center">My history</h2>
    <div class="table-responsive">
      <table class="table table-striped table-light" align="center">
        <thead class="thead-dark">
          <tr>
            <th>Vehicle Number</th>
            <th>Vehicle Model</th>
            <th>From Location</th>
            <th>Destination</th>
            <th>Date and Time</th>
            
          </tr>
        </thead>
        <tbody>
          
          
          
          {%for h in history%}
          <TR>
            <td>{{h.vehicle_num}}</td>
            <td>{{h.model}}</td>
            <td>{{h.from}}</td>
            <td>{{h.to}}</td>
            <td>{{h.datentime}}</td>

          </TR>
                            
          {% endfor %}
          
          
          
        </tbody>
      </table>
    </div>
  
{% endblock %}