{% extends 'layout.html' %}
   {% block head %}
    <title>Done</title>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/done.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        
        <link href="static/style.css" rel="stylesheet">
    <!--===============================================================================================-->
   {% endblock %}
   {% block container %}
    <li class = "nav-item">
        <a class="nav-link" id = 'so' onclick = "signout()" href= "#"  style = "color:white">Log Out</a>
    </li>
    {% endblock %}
{% block body %}
<!--Body-->
    <div style = "padding: 7rem;">
        <form action = "/done", method = "POST">
            <div>
                <p>Book another ride:</p> <input type = "submit" name = "btn" value = "New Ride">
            </div>
            <br><br><br>
            <div>
                <p id = "dont-hide" class = "op2">Rise a complaint: </p><button id = "dont-hide-me" class = "op2 btn btn primary" type = 'button' onclick = "func()">Complain</button>
                <textarea class = "hide op1 op2" name = "complaint" cols = 30 rows = 10 placeholder = "Type your complaint here"></textarea>
                <input type = "submit" name = "btn" value = "comp" class="hide op1 op2 btn btn-outline-primary">
                <p class = "op1">{{ message }}</p>
            </div>
            <div>
                <p>Sign out</p><button name = "btn" value = "sign-out" class = "op2 btn btn primary">Sign out</button>
            </div>
        </form>
    </div>

    <script>
        window.onload = option();
        function option(){
            if("{{ opt }}" == 1){
                func1();
            }
            else func2();
        }
        function func1(){
            var x = document.getElementsByClassName("op1");
   		    for (var i = 0; i < x.length; i++){
       		    x[i].style.display = "none";
		    }
        }
        function func2(){
            var x = document.getElementsByClassName("op2");
   		    for (var i = 0; i < x.length; i++){
       		    x[i].style.display = "none";
		    }
        }
        function func(){
            var x = document.getElementsByClassName("hide");
   		    for (var i = 0; i < x.length; i++){
       		    x[i].style.display = "inline";
		    }
            document.getElementById("dont-hide").style.display = 'none';
            document.getElementById("dont-hide-me").style.display = 'none';
        }
        
        window.onload = myfunc();
	    function myfunc(){
		    option("{{ opt }}");
		    document.getElementById('so').style.display = "block";
	    }
    
    </script>
   {% endblock %}
