{% extends 'layout.html'%}
   {% block head %}
    <title>Rove: Feedback</title>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/feedback.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        
        <link href="static/style.css" rel="stylesheet">
    <!--===============================================================================================-->

   {% endblock %}

   {% block container %}
   <li class="nav-item">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="{{profileurl}}"  alt="Image" onerror=this.src="static/images/emptydp.png" height="30" width="30" class="profile-image img-circle"></t><b class="caret" style = "padding-left: 7px;">{{username}}</b></a>
        <ul class="dropdown-menu" style = "background-color:rgb(250, 232, 209); list-style:circle">                                                                                                                                                                                                          
            <li><a href="{{url_for('profile')}}">&ensp;<i class="fa fa-user-circle-o"></i> &nbsp;Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('index')}}">&ensp;<i class="fa fa-home"></i> &nbsp;Home</a></li>
            <li class="divider"></li>
            <li><a href="{{url_for('logout')}}">&ensp;<i class="fa fa-sign-out"></i> &nbsp;Sign out</a></li>
        </ul>
    </li>
</li>
   {% endblock %}

{% block body %}

<!--Body-->

    <div style = "padding:3rem">
    <form action="/feedback" method="POST">
        <div class="form-group">
            <h3>Please rate your experience</h3>
            <input type="radio" name="rating" value="1" /> 1
            <input type="radio" name="rating" value="2" /> 2
            <input type="radio" name="rating" value="3" /> 3
            <input type="radio" name="rating" value="4" /> 4
            <input type="radio" name="rating" value="5" checked/> 5
        </div>
        <div class="form-group">
            <h3>Comments about your experience</h3>
            <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Tell us what you liked and/or did not like"
        ></textarea>
        </div>
        <input type="submit" value="Submit" name='btn' class="op1 btn btn-outline-primary" />
    </form>
    </div>
    <script>
        window.onload = myfunc();
	function myfunc(){
		option("{{ opt }}");
		document.getElementById('so').style.display = "block";
	}
    </script>
{% endblock %}