<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rove: Success</title>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/images/icons/done.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="/static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        
        <link href="/static/style.css" rel="stylesheet">
    <!--===============================================================================================-->
</head>
<body style ="background-color: rgb(162, 157, 207);" >
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid "style=" background-color:crimson;">
            <a class="navbar-brand" href="#"><img src="/static/images/logo.jpeg" width="180" height="90"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon" ></span>	
            </button>
            <div>
                <li class="nav-item">
                    <a class="nav-link" id = 'i'   href= "#help" style = "color:rosybrown"><i class="fa fa-tag"></i>  Help</a>
                </li>
            </div>
        </div>
    </nav>

<!--Body-->
<div class="container">
    <div style = "font-family: 'Times New Roman', Times, serif;  ">
        <h2>{{message}} ! Your Password has been changed Successfully.</h2>
            <h3>You can access all our facilities by logging in where you have left</h3>

    </div>
</div>

    

<!--Footer-->
<footer>
    <div class="container-fluid">
        <div class="row text-center " height="75">
            <div class="col-md-4">
                <img src="/static/images/logo.jpeg" width="200" height="100">
            </div>
            <div class="col-md-4">
                <h2><span>Connect via</span></h2>
                            <a href="https://www.instagram.com/"><img src="/static/images/instagram.jpg" alt="Instagram>" width="25" height="25"/></a>
                            <a href="https://www.twitter.com/"><img src="/static/images/twitter.png" alt="Twitter" width="25" height="25"/></a>
                            <a href="https://www.fb.com/"><img src="/static/images/facebook.png" alt="Facebook" width="25" height="25"/></a>
            </div>
            <div class="col-md-4" id="help">
            <h2><span>Customer Care</span></h2>
                            E-mail:  <a style="color:rgb(135, 248, 248);" href="mailto:roveapc.2020@gmail.com?Subject=help" target="_top">roveapc.2020@gmail.com</a><br>
                            Ph-No:   761-951-9441 , 809-535-2841, 701-941-3070
                        </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>