<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="http://127.0.0.1:5000/static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/vendor/animate/animate.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
        
        <link href="http://127.0.0.1:5000/static/style.css" rel="stylesheet">
    <!--===============================================================================================-->
</head>
<body style ="background-color: crimson;" >
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid "style=" background-color : blue">
            <a class="navbar-brand" href="#"><img src="http://127.0.0.1:5000/static/images/logo.jpeg" width="180" height="90"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon" ></span>	
            </button>
            
        </div>
    </nav>

<!--Body-->
<div style = "font-family: 'Times New Roman', Times, serif;  ">
    <h2>{{message}} ! Your Password has been changed Successfully.</h2>
        <h3>You can access all our facilities by logging in where you have left</h3>

</div>

    

<!--Footer-->
<footer>
	<div class="container-fluid" padding>
		<div class="row text-center">
			<div class="col-md-4">
				<img src="http://127.0.0.1:5000/static/images/logo.jpeg" width="200" height="100">
			</div>
			<div class="col-md-4">
				<h2><span>Connect via</span></h2>
							<a href="https://www.instagram.com/"><img src="http://127.0.0.1:5000/static/images/instagram.jpg" alt="Instagram>" width="25" height="25"/></a>
							<a href="https://www.twitter.com/"><img src="http://127.0.0.1:5000/static/images/twitter.png" alt="Twitter" width="25" height="25"/></a>
							<a href="https://www.fb.com/"><img src="http://127.0.0.1:5000/static/images/facebook.png" alt="Facebook" width="25" height="25"/></a>
			</div>
			<div class="col-md-4" id="help">
			<h2><span>Customer Care</span></h2>
							E-mail:  <a href="mailto:help@example.com?Subject=Help" target="_top">help@rove.com</a><br>
							Ph-No:   080-123-45688
			</div>
		</div>
	</div>
</footer>
</body>
</html>